<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
            integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/icons/favicon.svg') }}">
</head>

<body class="bg-secondary-subtle">
<div class="container-fluid bg-body-tertiary sticky-top">
    <div class="row align-items-center">
        <a href="{{ url_for('index') }}" class="col m-2">
            <img src="../static/icons/logo.svg" alt="Логотип">
        </a>
        <div class="col-xl-3 col-lg-1 m-2 m-md-0"></div>
        <a href="{{ url_for('vacancies') }}" class="col nav-link m-2">Вакансии</a>
        <a href="{{ url_for('responses') }}" class="col nav-link m-2">Мои отклики</a>
        <div class="col-xl-3 col-lg-1 m-md-0"></div>
        <a href="{{ url_for('auth') }}" class="btn btn-light rounded-pill col me-4 m-2">Войти</a>
    </div>
</div>

<div class="container-fluid p-5" style="margin-top: 100px;">
    <h1 class="font-black text-center display-1">Отклики на вакансии</h1>
    <div class="row mt-5">
        <div class="col">
            <form action="">
                <div class="d-flex justify-content-between mb-4 align-items-center">
                    <label for="accepted_denied" class="form-label">Приглашение/отказ</label>
                    <select name="accepted_denied" id="accepted_denied"
                            class="form-select w-50 rounded-pill border-0 shadow-none px-5 py-3" placeholder="Все">
                        <option value="all" selected>Все</option>
                        <option value="yes">Только приглашения</option>
                        <option value="no">Только отказы</option>
                    </select>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <label for="employer_answered" class="form-label">Есть ответ от работодателя</label>
                    <select class="form-select w-50 rounded-pill border-0 shadow-none px-5 py-3"
                            id="employer_answered" name="employer_answered" placeholder="Все">
                        <option value="all" selected>Все</option>
                        <option value="yes">Только с ответом</option>
                        <option value="no">Только без ответа</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-8"></div>
    </div>
</div>

<div class="container-fluid p-5">
    <hr>
    <h6>10 откликов</h6>

    <div class="card mt-5 rounded-5 bg-secondary-subtle p-4">
        <div class="row g-0">
            <div class="col-10">
                <div class="d-flex">
                    <img src="../static/icons/js.svg" alt="" class="float-start me-3">
                    <div class="d-flex flex-column justify-content-between py-2">
                        <h3 class="font-black">TypeScript разработчик</h3>
                        <div class="d-flex">
                            <div>
                                <img src="../static/icons/vk_footer.svg" class="w-50">
                                <span>VK</span>
                            </div>
                            <button class="rounded-pill bg-body-tertiary border-0 pe-none px-3 ms-4">от 1
                                года
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2">Требуется знание языка программирования TypeScript и Javascript. Желательно знание
                    Git.
                </div>
            </div>
            <div class="col">
                <h2 class="font-black float-end mb-4">150 000 рублей</h2>
                <button
                        class="btn btn-success rounded-pill pt-2 pb-2 ps-5 pe-5 float-end btn-lg w-100">Приглашение
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-4 rounded-5 bg-secondary-subtle p-4">
        <div class="row g-0">
            <div class="col-10">
                <div class="d-flex">
                    <img src="../static/icons/js.svg" alt="" class="float-start me-3">
                    <div class="d-flex flex-column justify-content-between py-2">
                        <h3 class="font-black">TypeScript разработчик</h3>
                        <div class="d-flex">
                            <div>
                                <img src="../static/icons/vk_footer.svg" class="w-50">
                                <span>VK</span>
                            </div>
                            <button class="rounded-pill bg-body-tertiary border-0 pe-none px-3 ms-4">от 1
                                года
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2">Требуется знание языка программирования TypeScript и Javascript. Желательно знание
                    Git.
                </div>
            </div>
            <div class="col">
                <h2 class="font-black float-end mb-4">150 000 рублей</h2>
                <button
                        class="btn btn-danger rounded-pill pt-2 pb-2 ps-5 pe-5 float-end btn-lg w-100">Отказ
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-4 rounded-5 bg-secondary-subtle p-4">
        <div class="row g-0">
            <div class="col-10">
                <div class="d-flex">
                    <img src="../static/icons/js.svg" alt="" class="float-start me-3">
                    <div class="d-flex flex-column justify-content-between py-2">
                        <h3 class="font-black">TypeScript разработчик</h3>
                        <div class="d-flex">
                            <div>
                                <img src="../static/icons/vk_footer.svg" class="w-50">
                                <span>VK</span>
                            </div>
                            <button class="rounded-pill bg-body-tertiary border-0 pe-none px-3 ms-4">от 1
                                года
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2">Требуется знание языка программирования TypeScript и Javascript. Желательно знание
                    Git.
                </div>
            </div>
            <div class="col">
                <h2 class="font-black float-end mb-4">150 000 рублей</h2>
                <button
                        class="btn btn-warning rounded-pill pt-2 pb-2 ps-5 pe-5 float-end btn-lg w-100">Отправлен
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-4 rounded-5 bg-secondary-subtle p-4">
        <div class="row g-0">
            <div class="col-10">
                <div class="d-flex">
                    <img src="../static/icons/js.svg" alt="" class="float-start me-3">
                    <div class="d-flex flex-column justify-content-between py-2">
                        <h3 class="font-black">TypeScript разработчик</h3>
                        <div class="d-flex">
                            <div>
                                <img src="../static/icons/vk_footer.svg" class="w-50">
                                <span>VK</span>
                            </div>
                            <button class="rounded-pill bg-body-tertiary border-0 pe-none px-3 ms-4">от 1
                                года
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2">Требуется знание языка программирования TypeScript и Javascript. Желательно знание
                    Git.
                </div>
            </div>
            <div class="col">
                <h2 class="font-black float-end mb-4">150 000 рублей</h2>
                <button
                        class="btn btn-info rounded-pill pt-2 pb-2 ps-5 pe-5 float-end btn-lg w-100">Рассматривается
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-4 rounded-5 bg-secondary-subtle p-4">
        <div class="row g-0">
            <div class="col-10">
                <div class="d-flex">
                    <img src="../static/icons/js.svg" alt="" class="float-start me-3">
                    <div class="d-flex flex-column justify-content-between py-2">
                        <h3 class="font-black">TypeScript разработчик</h3>
                        <div class="d-flex">
                            <div>
                                <img src="../static/icons/vk_footer.svg" class="w-50">
                                <span>VK</span>
                            </div>
                            <button class="rounded-pill bg-body-tertiary border-0 pe-none px-3 ms-4">от 1
                                года
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2">Требуется знание языка программирования TypeScript и Javascript. Желательно знание
                    Git.
                </div>
            </div>
            <div class="col">
                <h2 class="font-black float-end mb-4">150 000 рублей</h2>
                <button
                        class="btn btn-danger rounded-pill pt-2 pb-2 ps-5 pe-5 float-end btn-lg w-100">Отказ
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-6">
        <hr class="ms-5 me-5 mt-5">
        <h1 class="text-center font-black mt-5 p-5" style="font-size: 48pt;">Топовые компании</h1>
        <div class="row row-cols-lg-4 row-cols-md-3 g-4">
            <div class="col">
                <div class="card p-4 rounded-5 bg-secondary-subtle h-100 justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col"></div>
                        <img src="../static/icons/ozon.svg" alt="" class="card-img-top col">
                        <div class="col"></div>
                    </div>
                    <h2 class="card-title mt-4 font-black text-center">Ozon</h2>
                    <h6 class="card-subtitle text-body-secondary font-regular text-center">Ozon - это люди</h6>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary rounded-pill w-50 mt-4">Вакансии</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-5 bg-secondary-subtle h-100">
                    <div class="row justify-content-center">
                        <div class="col"></div>
                        <img src="../static/icons/vk.svg" alt="" class="card-img-top col">
                        <div class="col"></div>
                    </div>
                    <h2 class="card-title mt-4 font-black text-center">VK</h2>
                    <h6 class="card-subtitle text-body-secondary font-regular text-center">VK - лучше вместе</h6>
                    <div class="d-flex justify-content-center align-items-end">
                        <button class="btn btn-primary rounded-pill w-50 mt-4">Вакансии</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-5 bg-secondary-subtle h-100">
                    <div class="row justify-content-center">
                        <div class="col"></div>
                        <img src="../static/icons/tinkoff.svg" alt="" class="card-img-top col">
                        <div class="col"></div>
                    </div>
                    <h2 class="card-title mt-4 font-black text-center">Tinkoff</h2>
                    <h6 class="card-subtitle text-body-secondary font-regular text-center">Он такой один</h6>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary rounded-pill w-50 mt-4">Вакансии</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-5 bg-secondary-subtle h-100">
                    <div class="row justify-content-center">
                        <div class="col"></div>
                        <img src="../static/icons/yandex.svg" alt="" class="card-img-top col">
                        <div class="col"></div>
                    </div>
                    <h2 class="card-title mt-4 font-black text-center">Яндекс</h2>
                    <h6 class="card-subtitle text-body-secondary font-regular text-center">Найдётся всё</h6>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary rounded-pill w-50 mt-4">Вакансии</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-body-tertiary p-5 pb-3">
        <div class="row">
            <div class="col">
                <img src="../static/icons/logo.svg" alt="">
                <p class="mt-2 opaced">Помогаем разработчикам с 2024 года!</p>
                <p class="mt-4 opaced">DevHunter © 2024</p>
            </div>
            <div class="col align-items-center mt-5">
                <div class="row align-items-center row-cols-5">
                    <div class="col">
                        <a href="https://vk.com"><img src="../static/icons/vk_footer.svg" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="https://instagram.com"><img src="../static/icons/inst.svg" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="https://telegram.org"><img src="../static/icons/tg.svg" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="https://youtube.com"><img src="../static/icons/yt.svg" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com"><img src="../static/icons/twitter.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <ul class="list-unstyled text-end lh-lg">
                    <li><a href="#" class="text-decoration-none text-body-secondary opaced hover-opaced">Поддержка</a>
                    </li>
                    <li><a href="#" class="text-decoration-none text-body-secondary opaced hover-opaced">Контакты</a>
                    </li>
                    <li><a href="#" class="text-decoration-none text-body-secondary opaced hover-opaced">Политика
                        конфиденциальности</a></li>
                    <li><a href="#" class="text-decoration-none text-body-secondary opaced hover-opaced">Юридическая
                        информация</a></li>
                    <li><a href="#" class="text-decoration-none text-body-secondary opaced hover-opaced">О нас</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>